<template>
    <form class="ui big form small modal close-job">
        <i class="close icon"></i>
        <div class="header">Close Job</div>
        <div class="content">
            <div class="description">
                <p>Enter the man-hours for the job</p>
                <input type="number" placeholder="Man Hours" value.bind="args.manHours">
            </div>
        </div>
        <div class="actions">
            <button class="ui button cancel">Cancel</button>
            <button class="ui button positive">OK</button>
        </div>
    </form>
</template>