#calendar-menu {
    .inline.fields {
        margin: 1em;

        label {
            cursor: pointer;
        }
    }
}

#calendar {
    // highlight the event a bit when hovered
    .fc-day-grid-event:hover {
        border-color: #000;
    }

    .fc-bg .fc-day,.fc-content-skeleton {
        cursor: pointer;
    }

    .fc-day:hover{
        background: #39ba32;
    }

    /*Allow pointer-events through*/
    .fc-slats, /*horizontals*/
    .fc-content-skeleton, /*day numbers*/
    .fc-bgevent-skeleton /*events container*/{
        pointer-events:none
    }

    /*Turn pointer events back on*/
    .fc-bgevent,
    .fc-event-container{
        pointer-events:auto; /*events*/
    }    
}