@import '../../node_modules/toastr/toastr';
@import (css) '../../node_modules/semantic-ui-css/semantic.css';
@import (css) '../../node_modules/semantic-ui/dist/components/calendar.css';

.ui.secondary.pointing.menu .item.logo-item {
  padding: 0 20px;
}

.ui.fixed.menu.button-bar.top {
  top: 0px;
}

.ui.popup.calendar:focus {
  outline: none;
}

@media only screen and (max-width: 767px) {
  // on mobile, eliminate margin on main menu
  #main-menu > .ui.container {
    margin: 0px !important;
  }

  list-item {
    width: 100%;

    & > .ui.card {
      width: 100%;

      .ui.header {
        margin-top: 10px;
      }
    }
  }

  // hide the Company Name on phones
  .menu .item.logo-item span {
    display: none;
  }

  .ui.cards > .card {
    width: 100%;
  }

  .hide-mobile {
    display: none !important;
  }
}

@media only screen and (min-width: 768px) {
  .hide-desktop {
    display: none !important;
  }
}
